*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex{
    display: flex;
}

.position{
    position: relative;
}

header{
    height: 6vh;
    background-color: aqua;
}

main{
    height: 84vh;
    justify-content: center;
    align-items: center;
    background-color: bisque;
}

footer{
    height: 10vh;
    background-color: rgb(53, 51, 51);
}

/* Main */

main div.container{
    width: 92%;
    height: 95%;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    overflow-y: auto;
    background-color: gold;
}

main .flex-items{
    width: 195px;
    height: 130px;
    margin-right: 5px;
    margin-bottom: 0.8rem;
    background-color: hotpink;
    border: 1px solid black;
}

img.flex-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.flex-items div.information{
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0.4rem 0.3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size: 0.9rem;
}

/* Footer */
div#end-button{
    background-color: rgba(200, 200, 200, 0.4);
}

div#end-button p{
    color: red;
}

nav{
    height: 100%;
    margin: 0 1rem;
    justify-content: space-between;
}

nav div.nav-item{
    height: 100%;
    align-items: center;
}

div.nav-item ul{
    align-items: center;
}

div.nav-item ul li{
    list-style-type: none;
    text-align: center;
    padding: 0.6rem 0.5rem;
    margin-right: 0.2rem;
}

ul li a{
    color: white;
    text-decoration: none;
}

ul li a i{
    font-size: 2rem;
    margin-bottom: 0.2rem;
}

i.fa-chevron-up{
    font-size: 0.7rem;
}
